In [28]:
import pandas as pd
import kaggle

In [29]:
df = pd.read_csv("../input/sell-in.txt", sep="\t")
df_prod = pd.read_csv("../input/tb_productos.txt", sep="\t")
df_prod_a_predecir = pd.read_csv("../input/tb_productos_a_predecir.txt", sep="\t")
df_stock = pd.read_csv("../input/tb_stocks.txt", sep="\t")
display(df.head(10))

,periodo,customer_id,product_id,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn
0,201701,10234,20524,0,2,0.05300,0.05300
1,201701,10032,20524,0,1,0.13628,0.13628
2,201701,10217,20524,0,1,0.03028,0.03028
3,201701,10125,20524,0,1,0.02271,0.02271
4,201701,10012,20524,0,11,1.54452,1.54452
5,201701,10080,20524,0,1,0.01514,0.01514
6,201701,10015,20524,0,4,0.10600,0.10600
7,201701,10062,20524,0,1,0.18928,0.18928
8,201701,10159,20524,0,3,0.02271,0.02271
9,201701,10183,20524,0,1,0.01514,0.01514

In [30]:
# contar cuantos product_id diferentes hay en df
print("Cantidad de product_id diferentes en df:", df["product_id"].nunique())
# contar cuantos product_id diferentes hay en df_prod
print("Cantidad de product_id diferentes en df_prod:", df_prod["product_id"].nunique())
# contar cuantos product_id diferentes hay en df_prod_a_predecir
print("Cantidad de product_id diferentes en df_prod_a_predecir:",df_prod_a_predecir["product_id"].nunique())
# contar cuantos product_id diferentes hay en df_stock
print("Cantidad de product_id diferentes en df_stock:", df_stock["product_id"].nunique())

Cantidad de product_id diferentes en df: 1233
Cantidad de product_id diferentes en df_prod: 1251
Cantidad de product_id diferentes en df_prod_a_predecir: 780
Cantidad de product_id diferentes en df_stock: 1095

In [31]:
# Filtrar los df solo para los productos que tengo 
df_prod = df_prod[df_prod["product_id"].isin(df_prod_a_predecir["product_id"])]
df_stock = df_stock[df_stock["product_id"].isin(df_prod_a_predecir["product_id"])]
df = df[df["product_id"].isin(df_prod_a_predecir["product_id"])]

In [ ]:
#creo la columna año
df["anio"] = (df["periodo"] // 100)  # Divide by 100 to extract year from format YYYYMM

# Filtrar sólo 2019
df_2019 = df[df["anio"] == 2019]

#Sumar tn por product_id y periodo (mensual)
suma_mensual_2019 = df_2019.groupby(["product_id", "periodo"])["tn"].sum().reset_index()

#Calcular el promedio de esas sumas mensuales por producto
promedio_mensual_2019 = suma_mensual_2019.groupby("product_id")["tn"].mean().reset_index()

promedio_mensual_2019.to_csv("../output/2019_avg.csv", index=False)


"""
kaggle.api.competition_submit(
    "../output/2019_avg.csv",
    "2019_avg_testing_api_kaggle",
    "labo-iii-edicion-2025-r" 
)
"""

100%|██████████| 17.6k/17.6k [00:00<00:00, 39.4kB/s]

{"message": "Successfully submitted to Labo III, edicion 2025r", "ref": 45521858}